html,
body {
    margin: 0;
    padding: 5px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #6bc5d7;
}


/*---------------------------BACKGROUND IMAGES AND BACKGROUND COLORS*/

.wrap {
    background-image: url("../images/background-img.png");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.display {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}


/*-----------------------------SEARCH BAR AND BUTTON STYLING*/

.search {
    width: 100%;
    padding: 0;
    background: none;
    border: none;
    color: #f1f6f9;
    font-size: 1.5em;
    transition: all 0.5s ease-in-out;
}

.search:hover {
    color: #f5b461;
}

.search:focus {
    outline: #6bc5d7;
}

.search-field:focus {
    outline: #6bc5d7;
}


/*------------------------------------------------------MAIN STYLING*/

.header-large {
    font-family: "Pacifico", cursive;
    color: #f1f6f9;
    font-size: 2em;
    text-transform: capitalize;
}

.description-large {
    font-family: "Pacifico", cursive;
    color: #f1f6f9;
    font-size: 2em;
}

.date-large {
    font-family: "Mali", cursive;
    color: #f1f6f9;
    font-size: 1em;
}

.conditions {
    font-family: "Mali", cursive;
    color: #f1f6f9;
    font-size: 1em;
}

.icon-img {
    width: 150px;
    height: 100px;
    margin-left: 100px;
}

.temp-large {
    font-family: "Mali", cursive;
    color: #f1f6f9;
    font-size: 3em;
}

.temp-btn {
    background: none;
    border: none;
    color: #f1f6f9;
    transition: all 0.5s ease-in-out;
    font-family: "Mali", cursive;
    cursor: none;
}

.active {
    color: #f5b461;
    transition: all 0.5s ease-in-out;
    font-family: "Mali", cursive;
    font-size: 1.2em;
    cursor: none;
}

.temp-btn:hover {
    color: #f5b461;
    cursor: default;
}

.temp-btn:focus {
    outline: #6bc5d7;
}

.separator {
    color: #f1f6f9;
    font-size: 1em;
}

.small {
    margin-top: 75px;
    color: #f1f6f9;
    font-family: 'Source Code Pro', monospace;
}

.small a {
    text-decoration: none;
    font-style: italic;
    color: rgb(141, 41, 235);
    transition: all 0.5s ease-in-out;
}

.small a:hover {
    color: #fff676;
}


/*---------------------------------------------------------------RESPONSIVE MEDIA QUERIES*/

@media only screen and (max-width: 768px) {
    .icon-img {
        width: 95px;
        height: 75px;
        margin-left: 75px;
    }
    .temp-large {
        font-size: 3em;
    }
    .description-large {
        text-align: center;
    }
    .conditions {
        text-align: center;
    }
}