html,
body {
    margin: 0;
    padding: 5px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #6bc5d7;
}


/*---------------------------BACKGROUND IMAGES AND BACKGROUND COLORS*/

.wrap {
    background-image: url("../images/background-img.png");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.display {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}


/*-----------------------------SEARCH BAR AND BUTTON STYLING*/

.search {
    width: 100%;
    padding: 0;
    background: none;
    border: none;
    color: #f1f6f9;
    font-size: 1.5em;
}


/*------------------------------------------------------MAIN STYLING*/

.day-large {
    font-family: "Pacifico", cursive;
    color: #f1f6f9;
    font-size: 4.5em;
}

.date-large {
    font-family: "Mali", cursive;
    color: #f1f6f9;
    font-size: 2em;
}

.weather-description-large {
    font-family: "Pacifico", cursive;
    color: #f1f6f9;
    font-size: 3em;
}

.temp-large {
    font-family: "Mali", cursive;
    color: #f1f6f9;
    font-size: 5em;
}

.temp-buttons,
.temp-btn {
    background: none;
    border: none;
    color: #f1f6f9;
    transition: all 0.5s ease-in-out;
    font-family: "Mali", cursive;
}

.temp-btn:hover {
    color: #f5b461;
}

.cloudy {
    width: 450px;
}

.city-large {
    color: #f1f6f9;
    font-size: 2em;
    font-family: "Mali", cursive;
}

.weather-small {
    font-family: "Pacifico", cursive;
    color: #f1f6f9;
    font-size: 3em;
}

.weather-icon {
    width: 150px;
}

p.temp-small {
    font-size: 2.5em;
    color: #f1f6f9;
    font-family: "Mali", cursive;
    display: inline;
}

p.date-small {
    font-size: 1em;
    font-family: "Mali", cursive;
    color: #f1f6f9;
    display: block;
    text-align: right;
}

hr.separator {
    color: #f1f6f9;
    width: 600px;
    height: 10px;
    margin: 0 auto;
    border-radius: 5px;
}

.small {
    margin-top: 75px;
    color: #f1f6f9;
}

.small a {
    text-decoration: none;
    font-style: italic;
    color: rgb(141, 41, 235);
    transition: all 0.5s ease-in-out;
}

.small a:hover {
    color: #fff676;
}


/*---------------------------------------------------------------RESPONSIVE MEDIA QUERIES*/

@media only screen and (max-width: 768px) {
    .day-large {
        font-size: 2.5em;
        text-align: center;
    }
    .date-large {
        font-size: 1.5em;
        text-align: center;
    }
    .weather-description-large {
        font-size: 2.5em;
    }
    .temp-large {
        font-size: 3em;
    }
    .cloudy {
        width: 250px;
    }
    .city-large {
        font-size: 1.2em;
    }
    hr.separator {
        width: 280px;
    }
    .weather-small {
        font-size: 2.5em;
    }
    p.temp-small {
        font-size: 1.5em;
    }
    .weather-icon {
        width: 85px;
    }
}